.container{
    width: 800px;
    height: 800px;
    border: 1px solid;
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg');
    /* background-image:initial; */
}